footer.bg-gray-50(aria-label='Site Footer')
  div.mx-auto.max-w-screen-xl.px-4.py-4(class='sm:px-6 lg:px-8')
    div(class='sm:flex sm:items-center sm:justify-between')
      div.flex.justify-center.text-teal-600(class='sm:justify-start')
        .h-8.uppercase.font-extrabold Prompet CMS
        - const yr = new Date(Date.now()).getFullYear()
      p.mt-4.text-center.text-sm.text-gray-500(class='lg:mt-0 lg:text-right')
        | Copyright &copy; #{yr}. All rights reserved. by Hiren Maddara.
