doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    title Document
  body
    .mx-auto.max-w-screen-xl.px-4.py-16(class='sm:px-6 lg:px-8')
      .mx-auto.max-w-lg.text-center
        h1.text-2xl.font-bold(class='sm:text-3xl') Sign in to your account
        p.mt-4.text-gray-500
          | Hello, how is your day? Welcome to prompet credit management. To access the 
          | system, login into your account or create one.
      form#form_login.mx-auto.mt-8.mb-0.max-w-md.space-y-4(action='')
        div
          label.sr-only(for='email') Email
          .relative
            input#email.w-full.rounded-lg.border-gray-200.p-4.pr-12.text-sm.shadow-sm(type='email', placeholder='Enter email')
            span.absolute.inset-y-0.right-0.grid.place-content-center.px-4
              svg.h-4.w-4.text-gray-400(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke='currentColor')
                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207')
        div
          label.sr-only(for='password') Password
          .relative
            input#password.w-full.rounded-lg.border-gray-200.p-4.pr-12.text-sm.shadow-sm(type='password', placeholder='Enter password')
            span.absolute.inset-y-0.right-0.grid.place-content-center.px-4
              svg.h-4.w-4.text-gray-400(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke='currentColor')
                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M15 12a3 3 0 11-6 0 3 3 0 016 0z')
                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z')
        .flex.items-center.justify-between
          p.text-sm.text-gray-500
            | No account?
            a.underline(href='') Sign up
          button.inline-block.rounded-lg.bg-blue-500.px-5.py-3.text-sm.font-medium.text-white(type='submit')
            | Sign in

    script(src="/js/login.js") 